@font-face {
    font-family: "1";
    src: url('../fonts/ambidexter.ttf');
}
@font-face{
    font-family: "2";
    src: url('../fonts/ostrovskybold.ttf');
}
@font-face {
    font-family: '3';
    src: url('../fonts/frenchpress.ttf');
}


body {
    min-width: 200px;
    min-height: 200px;
}


nav {
    display: block;
    position: absolute;
    width: 890px;
    top: 5px;
    left: 1010px;
    font-size: 30px;
}

ul {
    list-style: none;
    margin: 0 auto;
}

a {
    text-decoration: none;
    font-family: "2";
    transition: .5s linear;
}

.three ul {
    padding: 0;
    background: #74C385;
}

.three li {
    display: inline-block;
}

.three a {
    padding: 1em;
    display: block;
    color: black;
    border-right: 1px solid #BAD78B;
    background: rgba(186, 215, 139, .3);
}

    .three a:hover {
        background: #BAD78B
    }


.box1 {
    height: 100px;
    width: 1903px;
    top: 0px;
    left: 0px;
    position: absolute;
    background: #74C385;
}
.box2{
    height: 700px;
    width: 1903px;
    top: 100px;
    left: 0px;
    position: absolute;
    background: #C24C3F;
}
.box3{
    height: 120px;
    width: 600px;
    top: 150px;
    left: 925px;
    position: absolute;
    background: white;
}
.box4{
    height: 800px;
    width: 1903px;
    top: 700px;
    left: 0px;
    position: absolute;
    background: #74C385;
}
.box5{
    height: 390px;
    width: 410px;
    top: 375px;
    left: 235px;
    position: absolute;
    background: #C24C3F;
}
.box6 {
    height: 390px;
    width: 410px;
    top: 375px;
    left: 735px;
    position: absolute;
    background: #C24C3F;
}
.box7 {
    height: 390px;
    width: 410px;
    top: 375px;
    left: 1235px;
    position: absolute;
    background: #C24C3F;
}
.box8{
    height: 1270px;
    width: 1903px;
    top: 1500px;
    left: 0px;
    position: absolute;
    background: #C24C3F;
}
.box9{
    height: 610px;
    width: 375px;
    top: 70px;
    left: 1120px;
    position: absolute;
    background: #74C385;
}
.box10{
    height: 570px;
    width: 1903px;
    top: 2770px;
    left: 0px;
    position: absolute;
    background: #74C385;
}


.i1 {
    height: 700px;
    width: 1200px;
    top: 0px;
    left: 0px;
    position: absolute;
}


.p1{
    font-family: "1";
    font-size: 75px;
    top: -80px;
    left: 45px;
    position: absolute;
}
.p2 {
    font-family: "2";
    font-size: 70px;
    top: -40px;
    left: 20px;
    position: absolute;
}
.p3 {
    font-family: "3";
    font-size: 85px;
    top: 50px;
    left: 20px;
    position: absolute;
}
.p4 {
    font-family: "2";
    font-size: 75px;
    top: -30px;
    left: 645px;
    position: absolute;
}
.p5 {
    font-family: "3";
    font-size: 40px;
    top: 95px;
    left: 580px;
    position: absolute;
    color: white;
}
.p6 {
    font-family: "2";
    font-size: 40px;
    top: -25px;
    left: 70px;
    position: absolute;
    color: white;
}
.p7 {
    font-family: "3";
    font-size: 35px;
    top: 380px;
    left: 255px;
    position: absolute;
    color: white;
}
.p8 {
    font-family: "2";
    font-size: 40px;
    top: -20px;
    left: 35px;
    position: absolute;
    color: white;
}
.p9 {
    font-family: "3";
    font-size: 35px;
    top: 380px;
    left: 755px;
    position: absolute;
    color: white;
}
.p10 {
    font-family: "2";
    font-size: 40px;
    top: -20px;
    left: 70px;
    position: absolute;
    color: white;
}
.p11 {
    font-family: "3";
    font-size: 35px;
    top: 380px;
    left: 1255px;
    position: absolute;
    color: white;
}
.p12 {
    font-family: "2";
    font-size: 50px;
    top: 40px;
    left: 380px;
    position: absolute;
}
.p13 {
    font-family: "3";
    font-size: 32px;
    top: 955px;
    left: 380px;
    position: absolute;
}
.p14 {
    font-family: "3";
    font-size: 30px;
    top: 215px;
    left: 410px;
    position: absolute;
}
.p15{
    font-family: "2";
    font-size: 35px;
    top: -160px;
    left: 0px;
    position: absolute;
}
.p16 {
    font-family: "3";
    font-size: 32px;
    top: -105px;
    left: 0px;
    position: absolute;
}
.p17 {
    font-family: "3";
    font-size: 25px;
    top: 15px;
    left: 815px;
    position: absolute;
}
.p18{
    font-family: "2";
    font-size: 20px;
    top: 30px;
    left: 0px;
    position: absolute;
}
.p19{
    font-family: "2";
    font-size: 20px;
    top: 150px;
    left: 0px;
    position: absolute;
}
.p20{
    font-family: "2";
    font-size: 20px;
    top: 300px;
    left: 0px;
    position: absolute;
}


a.b1 {
    font-family: "Arial";
    font-size: 42px;
    top: 255px;
    left: 360px;
    position: absolute;
    display: inline-block;
    color: white;
    text-decoration: none;
    user-select: none;
    padding: 0.2em 0.8em;
    outline: none;
    border: 2px solid;
    border-radius: 20px;
    transition: 0.4s;
    background: black;
} 
a.b1:hover {
    border: black;
    filter: invert(100%);
}
a.b1:active { 

    color: black; 
}

a.b2 {
    font-family: "Arial";
    font-size: 32px;
    top: 700px;
    left: 255px;
    position: absolute;
    display: inline-block;
    color: white;
    text-decoration: none;
    user-select: none;
    padding: 0.2em 0.8em;
    outline: none;
    border: 2px solid;
    border-radius: 20px;
    transition: 0.4s;
    background: black;
}

    a.b2:hover {
        border: black;
        filter: invert(100%);
    }

    a.b2:active {
        color: black;
    }

a.b3 {
    font-family: "Arial";
    font-size: 32px;
    top: 700px;
    left: 755px;
    position: absolute;
    display: inline-block;
    color: white;
    text-decoration: none;
    user-select: none;
    padding: 0.2em 0.8em;
    outline: none;
    border: 2px solid;
    border-radius: 20px;
    transition: 0.4s;
    background: black;
}

    a.b3:hover {
        border: black;
        filter: invert(100%);
    }

    a.b3:active {
        color: black;
    }

a.b4 {
    font-family: "Arial";
    font-size: 32px;
    top: 700px;
    left: 1255px;
    position: absolute;
    display: inline-block;
    color: white;
    text-decoration: none;
    user-select: none;
    padding: 0.2em 0.8em;
    outline: none;
    border: 2px solid;
    border-radius: 20px;
    transition: 0.4s;
    background: black;
} 
a.b4:hover {
    border: black;
    filter: invert(100%);
}
a.b4:active { 

    color: black; 
}


.b5 {
    height: 275px;
    width: 275px;
    top: 390px;
    left: 380px;
    position: absolute;
    transition: .4s;
}
.b5:hover{
    filter: brightness(75%);
}

.b6 {
    height: 275px;
    width: 275px;
    top: 390px;
    left: 680px;
    position: absolute;
    transition: .4s;
}
.b6:hover{
    filter: brightness(75%);
}

.b7 {
    height: 275px;
    width: 275px;
    top: 390px;
    left: 980px;
    position: absolute;
    transition: .4s;
}
.b7:hover{
    filter: brightness(75%);
}

.b8 {
    height: 275px;
    width: 275px;
    top: 690px;
    left: 380px;
    position: absolute;
    transition: .4s;
}
.b8:hover{
    filter: brightness(75%);
}

.b9 {
    height: 275px;
    width: 275px;
    top: 690px;
    left: 680px;
    position: absolute;
    transition: .4s;
}
.b9:hover{
    filter: brightness(75%);
}

.b10 {
    height: 275px;
    width: 275px;
    top: 690px;
    left: 980px;
    position: absolute;
    transition: .4s;
}
.b10:hover{
    filter: brightness(75%);
}

.b11 {
    height: 25px;
    width: 30px;
    top: 480px;
    left: 405px;
    position: absolute;
    transition: .3s;
}
.b11:hover{
    transform: scale(1.15);
}

.b12 {
    height: 25px;
    width: 30px;
    top: 480px;
    left: 455px;
    position: absolute;
    transition: .3s;
}
.b12:hover{
    transform: scale(1.15);
}

.b13 {
    height: 25px;
    width: 30px;
    top: 480px;
    left: 505px;
    position: absolute;
    transition: .3s;
}
.b13:hover{
    transform: scale(1.15);
}

a.b14 {
    font-family: "Arial";
    font-size: 23px;
    top: 305px;
    left: 1220px;
    position: absolute;
    display: inline-block;
    color: white;
    text-decoration: none;
    user-select: none;
    padding: 0.6em 1.4em;
    outline: none;
    border: 2px solid;
    border-radius: 0px;
    transition: 0.4s;
    background: black;
    border: black;
} 
a.b14:hover {
    filter: brightness(75%);
}
a.b14:active { 
    color: black; 
}


input[type=text] {
    width: 14%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ffffff;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
}

.f1{
    position: absolute;
    top: 70px;
    left: 1220px;
    font-size: 18px;
}

.f2{
    position: absolute;
    top: 120px;
    left: 1220px;
    font-size: 18px;
}

.f3{
    position: absolute;
    top: 170px;
    left: 1220px;
    height: 20%;
    font-size: 18px;
}